<div class="banner">
    <div class="container">
        <a href="/single">
        <img src="images/hero.jpg" class="hero hero_lg" />
        <img src="images/hero-sm.jpg" class="hero hero_sm" />
        </a>
    </div>
</div>
