<div class="header">
    <div class="container">
        <div class="head">
            <div class=" logo">
                <a href="">
                    <svg viewBox="0 0 340 204" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g>
                                <rect fill="#F67777" x="0" y="0" width="340" height="204"></rect>
                                <g transform="translate(62.000000, 51.000000)" fill="#FFFFFF">
                                    <path d="M0.0705482715,24.619421 C-0.139878284,24.1641177 0.140321287,23.7088144 0.667495184,23.7088144 L3.1593886,23.7088144 C3.43958818,23.7088144 3.68545499,23.9187844 3.75633552,24.093391 L11.4778826,41.4302799 L11.6883092,41.4302799 L19.4098562,24.093391 C19.4807368,23.9187844 19.6911633,23.7088144 20.0068031,23.7088144 L22.4986966,23.7088144 C23.0258705,23.7088144 23.30607,24.1641177 23.0956435,24.619421 L12.3206963,48.1902078 C12.2143755,48.4012829 12.003949,48.5758895 11.7226419,48.5758895 L11.3726693,48.5758895 C11.1268025,48.5758895 10.8809357,48.4012829 10.7757224,48.1902078 L0.0705482715,24.619421 Z" id="Fill-1"></path>
                                    <path d="M33.6645941,24.3744192 C33.6645941,24.0241009 33.9447937,23.7080408 34.331314,23.7080408 L48.3711953,23.7080408 C48.7577157,23.7080408 49.0379152,24.0241009 49.0379152,24.3744192 L49.0379152,26.3348757 C49.0379152,26.6862991 48.7577157,27.0012541 48.3711953,27.0012541 L37.2795008,27.0012541 L37.2795008,34.1457586 L46.6512351,34.1457586 C47.0023152,34.1457586 47.317955,34.4607135 47.317955,34.8110318 L47.317955,36.7725934 C47.317955,37.15717 47.0023152,37.4378667 46.6512351,37.4378667 L37.2795008,37.4378667 L37.2795008,44.9680529 L48.3711953,44.9680529 C48.7577157,44.9680529 49.0379152,45.2830078 49.0379152,45.6333261 L49.0379152,47.5595243 C49.0379152,47.9098426 48.7577157,48.2247976 48.3711953,48.2247976 L34.331314,48.2247976 C33.9447937,48.2247976 33.6645941,47.9098426 33.6645941,47.5595243 L33.6645941,24.3744192 Z" id="Fill-3"></path>
                                    <path d="M61.3614911,24.3744192 C61.3614911,24.0241009 61.6416907,23.7080408 62.028211,23.7080408 L64.3451182,23.7080408 C64.6961982,23.7080408 65.0118381,24.0241009 65.0118381,24.3744192 L65.0118381,44.9680529 L74.5242259,44.9680529 C74.9096387,44.9680529 75.1909458,45.2830078 75.1909458,45.6333261 L75.1909458,47.5595243 C75.1909458,47.9098426 74.9096387,48.2247976 74.5242259,48.2247976 L62.028211,48.2247976 C61.6416907,48.2247976 61.3614911,47.9098426 61.3614911,47.5595243 L61.3614911,24.3744192 Z" id="Fill-5"></path>
                                    <path d="M79.7575343,24.619421 C79.5471078,24.1641177 79.8273073,23.7088144 80.3544812,23.7088144 L82.8463747,23.7088144 C83.1265742,23.7088144 83.3724411,23.9187844 83.4433216,24.093391 L91.1648687,41.4302799 L91.3752952,41.4302799 L99.0968423,24.093391 C99.1677228,23.9187844 99.3781494,23.7088144 99.6937892,23.7088144 L102.185683,23.7088144 C102.712857,23.7088144 102.993056,24.1641177 102.78263,24.619421 L92.0076824,48.1902078 C91.9013616,48.4012829 91.690935,48.5758895 91.4107355,48.5758895 L91.0596554,48.5758895 C90.8137886,48.5758895 90.5679217,48.4012829 90.4627085,48.1902078 L79.7575343,24.619421 Z" id="Fill-7"></path>
                                    <path d="M113.351026,24.3744192 C113.351026,24.0241009 113.631226,23.7080408 114.017746,23.7080408 L128.057628,23.7080408 C128.444148,23.7080408 128.724348,24.0241009 128.724348,24.3744192 L128.724348,26.3348757 C128.724348,26.6862991 128.444148,27.0012541 128.057628,27.0012541 L116.965933,27.0012541 L116.965933,34.1457586 L126.337667,34.1457586 C126.688748,34.1457586 127.004387,34.4607135 127.004387,34.8110318 L127.004387,36.7725934 C127.004387,37.15717 126.688748,37.4378667 126.337667,37.4378667 L116.965933,37.4378667 L116.965933,44.9680529 L128.057628,44.9680529 C128.444148,44.9680529 128.724348,45.2830078 128.724348,45.6333261 L128.724348,47.5595243 C128.724348,47.9098426 128.444148,48.2247976 128.057628,48.2247976 L114.017746,48.2247976 C113.631226,48.2247976 113.351026,47.9098426 113.351026,47.5595243 L113.351026,24.3744192 Z" id="Fill-9"></path>
                                    <path d="M144.418071,27.0011435 L138.696684,27.0011435 C138.310163,27.0011435 138.029964,26.6861886 138.029964,26.3347652 L138.029964,24.3743087 C138.029964,24.0239904 138.310163,23.7090354 138.696684,23.7090354 L153.789805,23.7090354 C154.176325,23.7090354 154.456525,24.0239904 154.456525,24.3743087 L154.456525,26.3347652 C154.456525,26.6861886 154.176325,27.0011435 153.789805,27.0011435 L148.068418,27.0011435 L148.068418,47.5605189 C148.068418,47.9097321 147.752778,48.2246871 147.401698,48.2246871 L145.084791,48.2246871 C144.733711,48.2246871 144.418071,47.9097321 144.418071,47.5605189 L144.418071,27.0011435 Z" id="Fill-11"></path>
                                    <path d="M113.464103,86.7318535 C115.886223,86.7318535 117.921823,84.7702919 117.921823,82.248442 C117.921823,79.8669405 115.886223,78.0457273 113.464103,78.0457273 L108.619862,78.0457273 L108.619862,86.7318535 L113.464103,86.7318535 Z M105.004955,75.2089225 C105.004955,74.8586042 105.286263,74.5436492 105.671675,74.5436492 L113.67453,74.5436492 C117.991596,74.5436492 121.537838,78.0457273 121.537838,82.2838054 C121.537838,86.6257634 117.991596,90.1632048 113.70997,90.1632048 L108.619862,90.1632048 L108.619862,98.3951327 C108.619862,98.7443459 108.304222,99.0593009 107.953142,99.0593009 L105.671675,99.0593009 C105.286263,99.0593009 105.004955,98.7443459 105.004955,98.3951327 L105.004955,75.2089225 Z" id="Fill-13"></path>
                                    <path d="M132.877946,75.2092541 C132.877946,74.8589357 133.158146,74.5428757 133.544666,74.5428757 L135.861573,74.5428757 C136.212653,74.5428757 136.528293,74.8589357 136.528293,75.2092541 L136.528293,95.8028877 L146.040681,95.8028877 C146.426094,95.8028877 146.707401,96.1178426 146.707401,96.468161 L146.707401,98.3943592 C146.707401,98.7446775 146.426094,99.0596324 146.040681,99.0596324 L133.544666,99.0596324 C133.158146,99.0596324 132.877946,98.7446775 132.877946,98.3943592 L132.877946,75.2092541 Z" id="Fill-15"></path>
                                    <path d="M156.644518,75.2092541 C156.644518,74.8589357 156.960158,74.5428757 157.311238,74.5428757 L159.663586,74.5428757 C160.048998,74.5428757 160.330305,74.8589357 160.330305,75.2092541 L160.330305,89.6739748 C160.330305,93.1760529 162.576332,95.9067676 166.155799,95.9067676 C169.771813,95.9067676 172.05328,93.2114162 172.05328,89.7435964 L172.05328,75.2092541 C172.05328,74.8589357 172.334587,74.5428757 172.72,74.5428757 L175.072347,74.5428757 C175.423427,74.5428757 175.739067,74.8589357 175.739067,75.2092541 L175.739067,89.9193081 C175.739067,95.2425994 171.7022,99.4099508 166.155799,99.4099508 C160.645945,99.4099508 156.644518,95.2425994 156.644518,89.9193081 L156.644518,75.2092541 Z" id="Fill-17"></path>
                                    <path d="M191.923638,74.7181453 C191.993411,74.4385538 192.274718,74.1932204 192.554917,74.1932204 L193.117532,74.1932204 C193.327958,74.1932204 193.643598,74.3689321 193.713371,74.5789021 L201.049505,92.4749742 L201.190159,92.4749742 L208.490853,74.5789021 C208.560626,74.3689321 208.841933,74.1932204 209.0878,74.1932204 L209.648199,74.1932204 C209.929506,74.1932204 210.210813,74.4385538 210.280586,74.7181453 L214.597653,98.2546739 C214.702866,98.7442354 214.458107,99.0591904 213.966373,99.0591904 L211.684906,99.0591904 C211.369266,99.0591904 211.087959,98.8149622 211.018186,98.5696288 L208.42108,82.9136048 L208.314759,82.9136048 L201.997532,99.0249321 C201.926652,99.2360072 201.716225,99.4106138 201.400585,99.4106138 L200.768198,99.4106138 C200.487999,99.4106138 200.242132,99.2360072 200.172359,99.0249321 L193.818584,82.9136048 L193.677931,82.9136048 L191.151705,98.5696288 C191.116264,98.8149622 190.800624,99.0591904 190.519317,99.0591904 L188.23785,99.0591904 C187.747224,99.0591904 187.501358,98.7442354 187.571131,98.2546739 L191.923638,74.7181453 Z" id="Fill-19"></path>
                                    <path d="M175.929004,4.1931003 C176.329922,5.79660781 177.486161,9.16386306 180.325812,10.4170523 C181.074488,10.7463736 181.908441,10.9143495 182.805523,10.9143495 C184.899821,10.9143495 186.86011,10.035791 187.896738,9.4755027 C187.49582,7.8731003 186.337366,4.50473994 183.497715,3.25376096 C182.746825,2.92222943 181.910656,2.75425345 181.012467,2.75425345 C178.936997,2.75425345 176.970062,3.63391712 175.929004,4.1931003 M173.011828,3.69690811 C172.940947,3.18082402 173.166879,2.66916036 173.5977,2.3740973 C173.739461,2.27684805 177.108501,0.000331531532 181.012467,0.000331531532 C182.298284,0.000331531532 183.509898,0.247875075 184.614084,0.734121321 C189.797222,3.01837357 190.775152,9.68436757 190.813915,9.96616937 C190.885903,10.4822535 190.658863,10.9950222 190.228043,11.2900853 C190.086282,11.3873345 186.711704,13.6682715 182.805523,13.6682715 C181.521921,13.6682715 180.311414,13.421833 179.209444,12.9355868 C174.025198,10.6480192 173.050591,3.97981502 173.011828,3.69690811 M190.421857,21.0459532 C188.296548,19.9320072 186.475805,19.4214486 184.454603,19.4214486 C183.609574,19.4214486 182.727997,19.508752 181.773325,19.677833 C177.895939,20.3629982 174.505856,23.1180252 172.928765,26.8665417 C170.279605,33.1689562 171.442489,40.0427099 176.118388,45.7262655 C179.610362,49.968764 183.4512,52.3126919 187.519078,54.794758 C189.183662,55.8103495 190.896978,56.855779 192.625798,58.0570282 C194.354618,56.855779 196.066826,55.8114547 197.731411,54.7969682 C201.798181,52.3149021 205.641234,49.9709742 209.133207,45.7262655 C213.811322,40.0427099 214.974206,33.1689562 212.325046,26.8654366 C210.746847,23.1169201 207.357872,20.3618931 203.480486,19.677833 C200.581029,19.1650643 198.350508,19.4103976 195.751186,20.5994907 C195.751186,20.5994907 193.246003,21.8128961 192.626905,23.1025538 C192.626905,23.1025538 191.732039,21.6703375 190.421857,21.0459532 M187.274318,31.6041273 C187.205653,31.6041273 187.13588,31.5986018 187.066107,31.5886559 M211.266268,47.4723315 C207.47859,52.0761994 203.255662,54.6521994 199.171171,57.1453165 C197.293945,58.2902054 195.352483,59.4748781 193.436494,60.8606799 C193.195057,61.0352865 192.911535,61.1225898 192.626905,61.1225898 C192.343383,61.1225898 192.058754,61.0352865 191.816209,60.8606799 C189.901328,59.4748781 187.958758,58.2902054 186.080425,57.1431063 C181.997042,54.6510943 177.773006,52.0750943 173.985328,47.4712264 C168.716911,41.0704577 167.370181,32.967827 170.383711,25.7990102 C172.320743,21.1951423 176.500479,17.8102054 181.292667,16.9648 C185.393769,16.2442715 188.384042,16.9404877 191.265778,18.3760192 C191.377636,16.2431664 192.067614,12.8184456 194.893975,9.40477598 C195.380171,8.81796517 196.249565,8.73618739 196.837652,9.22022342 C197.424631,9.70425946 197.507694,10.5739772 197.022605,11.1596829 C194.724526,13.9334967 194.137547,16.6664216 194.024581,18.3583375 C196.894134,16.9349622 199.876654,16.2442715 203.961144,16.9648 C208.753332,17.8113105 212.933068,21.1973526 214.8701,25.8001153 C217.88363,32.9689321 216.535792,41.0715628 211.266268,47.4723315" id="Fill-22"></path>
                                    <path d="M193.425862,30.5625658 C193.425862,29.345845 192.433535,28.1302294 190.732402,28.1302294 C189.144235,28.1302294 188.208391,29.2331243 188.208391,30.5625658 C188.180703,31.6665658 188.888401,32.4865538 189.85304,33.4491003 L190.477675,34.0712745 C191.327134,33.5629261 193.425862,32.4589261 193.425862,30.5625658 M190.307119,43.9464937 C192.348256,43.9464937 193.738179,42.8712264 194.55995,41.909785 L189.824245,36.9301814 C188.945991,37.4672625 187.045507,38.6552505 187.045507,40.8908781 C187.045507,42.6734126 188.491913,43.9464937 190.307119,43.9464937 M188.293669,35.401821 L188.293669,35.3443556 L187.641347,34.6381934 C186.534946,33.477833 185.655584,32.2323796 185.685487,30.5349381 C185.685487,28.3832985 187.38662,25.9509622 190.874163,25.9509622 C193.994014,25.9509622 195.949873,27.9876709 195.949873,30.4487399 C195.949873,33.1650883 193.227618,34.9763556 192.121217,35.7410883 L196.091634,39.7028901 C196.716269,38.513797 197.083961,37.0716348 197.16924,35.6272625 C197.196927,35.0061934 197.423966,34.8349021 197.963323,34.9487279 L199.125099,35.1752745 C199.777421,35.2879952 199.63566,35.7974486 199.607973,36.0527279 C199.380933,38.1745297 198.58685,40.2112384 197.879152,41.4854246 L200.515022,44.0315868 C200.856134,44.3708541 201.110861,44.6813886 200.459646,45.3334006 L199.722046,46.0682955 C199.380933,46.3799351 198.927963,46.4362955 198.501572,45.9843075 L196.26219,43.7199471 C195.241068,44.8803075 193.19993,46.3235748 190.08008,46.3235748 C186.507258,46.3235748 184.352047,43.8901333 184.352047,41.0599592 C184.352047,37.6650763 187.272546,35.9952625 188.293669,35.401821" id="Fill-24"></path>
                                </g>
                            </g>
                        </g>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="header-top">
        <div class="container">
            <div class="header-login pull-right">
                <ul>
                    if !user
                      li(class=(title == 'Login') ? 'active' : undefined)
                        a(href='/login') Login
                      li(class=(title == 'Create Account') ? 'active' : undefined)
                        a(href='/signup') Create Account
                    else
                      li.dropdown(class=(title == 'Account Management') ? 'active' : undefined)
                        a.dropdown-toggle(href='#', data-toggle='dropdown')
                          if user.profile.picture
                            img(src=user.profile.picture)
                          else
                            img(src=user.gravatar(60))
                          span= user.profile.name || user.email || user.id
                          i.caret
                        ul.dropdown-menu
                          li
                            a(href='/account') My Account
                          li.divider
                          li
                            a(href='/logout') Logout
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="container">
        <div class="head-top">
            <div class="col-sm-8 col-md-offset-2 h_menu4">
                <nav class="navbar nav_bottom" role="navigation">
                    <div class="navbar-header nav_2">
                        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                           Menu
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                        <ul class="nav navbar-nav nav_1">
                            <li><a class="color" href="/">Home</a></li>
                            <li><a class="color1" href="/single">Women</a></li>
                            <li><a class="color2" href="/single">Men</a></li>
                            <li><a class="color3" href="/single">Sale</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-sm-2 search-right">
                <div class="cart box_1">
                    <a href="checkout.html">
                        <h3> <div class="total">
                        <span class="simpleCart_total"></span></div>
                        <img src="images/cart.png" alt=""/></h3>
                    </a>
                    <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
                </div>
                <div class="clearfix"> </div>
                <link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
                <script src="js/jquery.magnific-popup.js" type="text/javascript"></script>
                <div id="small-dialog" class="mfp-hide">
                    <div class="search-top">
                        <div class="login-search">
                            <input type="submit" value="">
                            <input type="text" value="Search.." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search..';}">
                        </div>
                        <p>Shopin</p>
                    </div>
                </div>
                script.
                    $(document).ready(function() {
                        $('.popup-with-zoom-anim').magnificPopup({
                            type: 'inline',
                            fixedContentPos: false,
                            fixedBgPos: true,
                            overflowY: 'auto',
                            closeBtnInside: true,
                            preloader: false,
                            midClick: true,
                            removalDelay: 300,
                            mainClass: 'my-mfp-zoom-in'
                        });

                    });
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
